
<body class="color_background">
<div class="container-fluid">
    <div class="row">
      <div class="drawing_left">
        <% @drawings.each_with_index do | drawing, index | %>
        <% if index % 2 != 0 || index % 2 == 0 %>
          <div class="col-md-6">
            <img src= "<%= drawing.drawing %>" id="photo">
          </div>
        
        <% end %>
        <% end %>
    </div>
</div>
  <nav class="navbar navbar-inverse">
  <ul class="nav navbar-nav">
    <li><a href="/">back</a></li>
  </ul>
</nav>
</body>
