<body class="tile_background">
  <nav class="navbar navbar-inverse">
  <ul class="nav navbar-nav">
    <li><a href="/">back</a></li>
  </ul>
</nav>
<div class="container">
  <div class="row">
<p class="about">I wanted to create something for the user to illustrate on and share with other users to make one big piece. Islamic geometric patterns go forever, concretely symbolizing the infinite. Because of the shapes interlocking, there are many ways for you to use the paint bucket tool to pull a pattern out. <br><br>
When finished with a patten select add pattern, and it connects you with everyone who has added a pattern previously. <br><br>Infinite users. </p>
</div>
</div>      

</body>
