<nav class="navbar navbar-inverse">
</nav>
<div class= "container-fluid" id="home_look">
  <div class="row">
       
    <input type="color" id="color" onchange="setColor(value)" />
    <button id="save"> save </button>
    </div>
    <div id="canvasDiv">
    </div>
    
  </div>

</div>
 

