<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Create HTML5 Canvas JavaScript Paint Bucket Example</title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <!--[if IE]><script type="text/javascript" src="excanvas.js"></script><![endif]-->
  </head>
  
  <body>
    <div class="container">
        <!-- <div class="col-xs-12 col-md-2">  -->
        <input type="color" id="color" onchange="setColor(value)" />
      <!--   </div> -->

    <!-- <div class= "col-xs-12 col-md-10"> -->
      <div id="canvasDiv"></div>
   <!--  </div> -->
  
    
    </div>
  </body>
</html>