<body class="tile_background">
  <nav class="navbar navbar-inverse">
  <ul class="nav navbar-nav">
    <li><a href="/about">about</a></li>
  </ul>
</nav>
<div class="home">
  <div id="tools">
    <input type="color" id="color" onchange="setColor(value)" />
    <br>
      <button id="save"> save </button>
  </div>
  <div id="canvasDiv">
  </div>
      
</div>
</body>


 

