<!DOCTYPE html>
<html>
<head>
  <title>Pattern</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%=javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--[if IE]><script type="text/javascript" src="excanvas.js"></script><![endif]-->
</head>
<body>
 

    

<%= yield %>

</body>
</html>
