<!DOCTYPE html>
<html>
<head>
  <title>Pattern</title>
   <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%=javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--[if IE]><script type="text/javascript" src="excanvas.js"></script><![endif]-->

</head>
<body>
 

<%= yield %>

</body>
</html>
